@import 'margin';

html, div, .classic, h1, h2, h3, h4 {
  top: 100px;
}
.maintainer {
  left: 100px;
  right: 100px;
  transform: translate(-50%);
  float: left;
}

.container {
  top: 100px;
  border: 2px solid red;
}

.wrapper {
  top: 100px;
}
